<p>
	<% pastCommentID = "addComments" + comment.id.to_s %>

	<%= comment.created_at.strftime ("%m/%d/%y %l:%M%P") %> - <%= comment.body %> (<%= User.find(comment.user_id).fullName %>) <%= link_to "Reply", new_comment_path(:journal_entry_id => comment.journal_entry_id, :parent_id => comment.id, :pastCommentID => pastCommentID), :class => "", remote: true %>
</p>

<div id=<%= pastCommentID %>>

</div>

<% if comment.has_children? %>
	<% comment.children.order(:created_at).each do |child| %>
		<div class="nested_comments">
	    	<%= render 'journal_entries/comment', comment: child %>
		</div>
	<% end %>
<% end %>