
<%= simple_form_for(@journal_entry, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :team_id %>

    <% if @team.present? %>
      <p><%= @team.name %></p>
    <% end %>

    <% if @team.present? %>
      <%= f.input :practice_players, label: "Players", collection: @team.users, label_method: :fullName, as: :check_boxes, input_html: { multiple: true }  %>
    <% end %>

    <% if @sport.present? %>
      <div class="show">
        <%= f.input :sport %>
      </div>
    <% else %>
        <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Select the sport you would like to assign to this journal." %>
    <% end %>
    <% if @goal.present? %>
      <div class="hide">
        <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true }  %>
      </div>
    <% else %>
        <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true } %>
    <% end %>
    <%= f.input :dateTimeOfTraining %>
    <div class="grid-x">
      <div class="cell large-3">
        <%= f.input :duration, required: true %>
      </div>
      <div class="cell large-3">
        <%= f.input :organizedPractice %>
      </div>
    </div>
    <%= f.input :trainingAccomplished, required: true %>

  </div>

  <div class="grid-x">
    <div class="cell large-6">
      <%= f.input :motivationLevel, required: true, input_html: { min: '0', max: '10' } %>
      <div id="slider-vertical" style="height:200px;"></div>
    </div>
    <div class="cell large-6">
      <%= f.input :performanceLevel, required: true, input_html: { min: '0', max: '10' } %>
      <div id="slider-vertical2" style="height:200px;"></div>
    </div>
  </div>
   
  </br>
  </br>

  <div class="form-actions">
    <%= f.submit class: 'button' %>
  </div>

<% end %>

<script>
  $( function() {
    $( "#slider-vertical" ).slider({
      orientation: "vertical",
      range: "min",
      min: 0,
      max: 10,
      value: 5,
      slide: function( event, ui ) {
        $( "#journal_entry_motivationLevel" ).val( ui.value );
      }
    });
    $( "#journal_entry_motivationLevel" ).val( $( "#slider-vertical" ).slider( "value" ) );
  } );

  $( function() {
    $( "#slider-vertical2" ).slider({
      orientation: "vertical",
      range: "min",
      min: 0,
      max: 10,
      value: 5,
      slide: function( event, ui ) {
        $( "#journal_entry_performanceLevel" ).val( ui.value );
      }
    });
    $( "#journal_entry_performanceLevel" ).val( $( "#slider-vertical" ).slider( "value" ) );
  } );
  </script>
