
<%= simple_form_for(@journal_entry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= @goal %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id %>
    <% if @goal.present? %>
      <div class="hide">
        <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Select the sport you would like to assign to this journal." %>
      </div>
    <% else %>
        <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Select the sport you would like to assign to this journal." %>
    <% end %>
    <% if @goal.present? %>
      <div class="hide">
        <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true }  %>
      </div>
    <% else %>
      <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true } %>
    <% end %>
    <%= f.input :dateTimeOfTraining %>
    <%= f.input :duration, required: true %>
    <%= f.input :organizedPractice %>
    <%= f.input :trainingAccomplished, required: true %>
    <%= f.input :motivationLevel, required: true %>
    <%= f.input :performanceLevel, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<!--

<script>
  function validateForm() {
      var valid = true;
      $('.required').each(function () {
          if ($(this).val() === '') {
              valid = false;
              return false;
          }
      });
    return valid
  }

  $("#new_journal_entry").submit(function(){
    var isFormValid = true;

    $(".required").each(function(){
        if($(".required").val() == '') {
            $(this).addClass("highlight");
            isFormValid = false;
        }
        else{
            $(this).removeClass("highlight");
        }
    });

    if (!isFormValid) alert("Please fill in all the required fields (indicated by *)");

    return isFormValid;
  });
</script>

-->

<script>

  $('#new_journal_entry').submit(function() {
    var errors = 0;
    $(".required").each.(function(){
         if( $(this).val().length == 0 ) {
              $(this).addClass('highlight');
              errors++;
        } else {
              $(this).removeClass('highlight');
        }   
    });
    if(errors > 0){
        alert("Please fill in all the required fields (indicated by *)");
        return false;
    }
    // do the ajax..    
  });

</script>
