
<%= simple_form_for(@journal_entry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id %>
    <% if @goal.present? %>
      <div class="hide">
        <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Select the sport you would like to assign to this journal." %>
      </div>
    <% else %>
        <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Select the sport you would like to assign to this journal." %>
    <% end %>
    <% if @goal.present? %>
      <div class="hide">
        <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true }  %>
      </div>
    <% else %>
      <%= f.input :goal_ids, collection: @goals, as: :check_boxes, input_html: { multiple: true } %>
    <% end %>
    <%= f.input :dateTimeOfTraining %>
    <%= f.input :duration, required: true %>
    <%= f.input :organizedPractice %>
    <%= f.input :trainingAccomplished, required: true %>

    <div class="slider" data-slider data-initial-start="5" data-end="10">
      <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="journal_entrymotivationLevel"></span>
      <span class="slider-fill" data-slider-fill></span>
      <%= f.input :motivationLevel, required: true, input_html: { min: '0', max: '10' } %>
    </div>

    <div class="slider" data-slider data-initial-start="5" data-end="10">
      <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="journal_entryperformanceLevel"></span>
      <span class="slider-fill" data-slider-fill></span>
      <%= f.input :performanceLevel, required: true, input_html: { min: '0', max: '10' } %>
    </div>
  </div>

  </br>
  </br>

  <div class="form-actions">
    <%= f.submit class: 'button' %>
  </div>

  <script>
    $(document).foundation();

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }

  </script>
<% end %>
