<p id="notice"><%= notice %></p>

<h1>Journal Entries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sport</th>
      <th>Datetimeoftraining</th>
      <th>Duration</th>
      <th>Organizedpractice</th>
      <th>Trainingaccomplished</th>
      <th>Motivationlevel</th>
      <th>Performancelevel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_entries.each do |journal_entry| %>
      <tr>
        <td><%= User.find(journal_entry.user_id).email %></td>
        <td><%= Sport.find(journal_entry.sport).name %></td>
        <td><%= journal_entry.dateTimeOfTraining %></td>
        <td><%= journal_entry.duration %></td>
        <td><%= journal_entry.organizedPractice %></td>
        <td><%= journal_entry.trainingAccomplished %></td>
        <td><%= journal_entry.motivationLevel %></td>
        <td><%= journal_entry.performanceLevel %></td>
        <td><%= link_to 'Show', journal_entry %></td>
        <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry) %></td>
        <td><%= link_to 'Destroy', journal_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal Entry', new_journal_entry_path %>
