<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@journal_entry.user_id).email %>
</p>

<p>
  <strong>Sport:</strong>
  <%= Sport.find(@journal_entry.sport).name %>
</p>

<p>
  <strong>Datetimeoftraining:</strong>
  <%= @journal_entry.dateTimeOfTraining %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @journal_entry.duration %>
</p>

<p>
  <strong>Organizedpractice:</strong>
  <%= @journal_entry.organizedPractice %>
</p>

<p>
  <strong>Trainingaccomplished:</strong>
  <%= @journal_entry.trainingAccomplished %>
</p>

<p>
  <strong>Motivationlevel:</strong>
  <%= @journal_entry.motivationLevel %>
</p>

<p>
  <strong>Performancelevel:</strong>
  <%= @journal_entry.performanceLevel %>
</p>

<% @journal_entry.goal_ids.each do |goal_id| %>
  <%= goal_id %>
<% end %>

      <% @journal_entry.goals.where(:active => true).each do |goal| %>
        <%= link_to goal do %>
          <%= goal.name %></br>
        <% end %>
      <% end %>

<%= link_to 'Edit', edit_journal_entry_path(@journal_entry) %> |
<%= link_to 'Back', journal_entries_path %>
