<p id="notice"><%= notice %></p>

<div id="teams">

  <% if @teams.present? %>

      <% @teams.each do |team| %>
        <p>
          <%= team.name %> 
          <%= link_to team_user_relationships_path(:team_id => team.id, :user_id => current_user.id), :method => :post, :class => "", remote: true  do %> &nbsp
            <%= image_tag("add1.png", width: "16", :alt => "add") %>
          <% end %>
        </p>
      <% end %>

   <% end %>

</div>

<% if current_user.has_role? :coach %>

  <%= link_to 'New Team', new_team_path %>

<% end %>

<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
