<div class="grid-container full">
	<div class="grid-x grid-padding-x">
		<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12">

			<h2>
			    <%= @team.name %>
			    <% if (current_user.has_role? :coach) || (current_user.has_role? :manager) || (current_user.has_role? :admin) %>		

					<%= link_to edit_team_path(@team), :class => "", remote: true do %> 
		              <%= image_tag("edit24.png", width: "16", :alt => "edit") %>
					<% end %> 				
			    
	            <% end %>
			</h2>

			<h4>
				Players
			</h4>

			<% @team.team_user_relationships.each do |team_user_relationship| %>
				<p><%= team_user_relationship.user.fullName %></p>
			<% end %>

			<h4>
				Goals
			</h4>

			<% @team.goals.each do |goal| %>
				<p><%= goal.name %></p>
			<% end %>

			<% if (current_user.has_role? :coach) || (current_user.has_role? :manager) || (current_user.has_role? :admin) %>

				<%= link_to 'New Goal', new_goal_path(:team_id => @team.id), :class => "", remote: true, data: {:"reveal-id" => "myModal"}  %>
				</br></br>

			<% end %>

			<h4>
				Training
			</h4>

			<% @team.journal_entries.each do |journal_entry| %>
				<p><%= journal_entry.name %></p>
			<% end %>	

			<% if (current_user.has_role? :coach) || (current_user.has_role? :manager) || (current_user.has_role? :admin) %>

				<%= link_to 'New Training', new_journal_entry_path(:team_id => @team.id), :class => "", remote: true, data: {:"reveal-id" => "myModal"}  %>
				</br></br>

			<% end %>


		</div>
	</div>
</div>

