<div class="grid-x gray">
	<div class="top-bar cell large-8 large-offset-2 medium-10 medium-offset-1" data-topbar>
	  <div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li class="menu-text">
	      	<%= link_to root_path do %>
	      		<%= image_tag("SportingMindsTransparent.png", width: "200", :alt => "Sporting Minds") %>
	      	<% end %>
	      	</li>
	      <li><a href="#">About</a></li>
	      <li>
	        <a href="#">Services</a>
	        <ul class="menu vertical">
	          <li><a href="#">Individual Mental Training</a></li>
	          <li><a href="#">Team Development</a></li>
	          <li><a href="#">Classes/Workshops</a></li>
	          <li><a href="#">Assessments</a></li>
	        </ul>
	      </li>
	      <li><a href="#">Events</a></li>
	      <li><a href="#">Resources</a></li>
	      <li><a href="#">Contact</a></li>
	      <% if user_signed_in? %>
	        <li><a><%= current_user.email %></a></li>
	        <li><%= link_to "Sign out", destroy_user_session_path,:method => 'delete' %></li>
	      <% else %>
	        <li><%= link_to "Login", new_user_session_path %></li>
	      <% end %>
		</ul>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu">
	      <li><button type="button" class="alert button">Request Appointment</button></li>
	    </ul>
	  </div>
	</div>
</div>



<%= javascript_include_tag "application" %>