<div class="grid-x gray">
	<div class="top-bar cell large-8 large-offset-2 medium-10 medium-offset-1" data-topbar>
	  <div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li class="menu-text">
	      	<%= link_to root_path do %>
	      		<%= image_tag("SportingMindsTransparent.png", width: "200", :alt => "Sporting Minds") %>
	      	<% end %>
	      	</li>
	      <li><%= link_to "Goals", goals_path, :class => "", remote: true %></li>
	      <li><%= link_to "Training Log", journal_entries_path, :class => "", remote: true %></li>
	      <li><a href="#">User Account</a></li>
	      <li><a href="#">Help</a></li>
	      <% if user_signed_in? %>
	        <li><a><%= current_user.email %></a></li>
	        <li><%= link_to "Sign out", destroy_user_session_path,:method => 'delete' %></li>
	      <% else %>
	        <li><%= link_to "Login", new_user_session_path %></li>
	      <% end %>
		</ul>
	  </div>
	  <div class="top-bar-right">
	  </div>
	</div>
</div>

<div id="applicationContent">

	<% if user_signed_in? %>

	  <% if current_user.has_role? :athlete %>
	    
	  <% end %>

	<% end %>

</div>




<%= javascript_include_tag "application" %>