<div class="grid-x gray">
	<div class="top-bar cell large-8 large-offset-2 medium-10 medium-offset-1" data-topbar>
	  <div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li class="menu-text">
	      	<%= link_to root_path do %>
	      		<%= image_tag("SportingMindsTransparent.png", width: "200", :alt => "Sporting Minds") %>
	      	<% end %>
	      	</li>
	      <li><%= link_to "Goals", goals_path, :class => "", remote: true %></li>
	      <li><%= link_to "Training Log", journal_entries_path, :class => "", remote: true %></li>
	      <% if (user_signed_in? && current_user.inverse_accountability_partnerships.present?) %>
	      	<li><%= link_to "Supported Players", supported_users_path, :class => "", remote: true %></li>
	      <% end %>
	      <li><%= link_to "User Account", current_user, :class => "", remote: true %></li>
	      <% if user_signed_in? %>
	        <li><%= link_to "Sign out", destroy_user_session_path,:method => 'delete' %></li>
	      <% else %>
	        <li><%= link_to "Login", new_user_session_path %></li>
	      <% end %>
		</ul>
	  </div>
	  <div class="top-bar-right">
	  </div>
	</div>
</div>

</br>

<% if user_signed_in? %>

	<% if current_user.has_role? :athlete %>

		<div id="applicationContent">
			<div class="grid-x grid-margin-x">
				<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1">
					<%= image_tag("wordle.png", width: "100%", :alt => "Sporting Minds") %>
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 text-center">
					<h2>Athlete Goals Tracking and Training Log Application</h2>
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 text-left">
					<p>&nbsp&nbsp&nbsp This application is designed to help athletes reach their training and performance goals.  By providing a tracking mechanism for the goals and the ability to log training, athletes can easily see their progression and gain confidence in their ability to shape their own athletic destiny.  Additionally, the app provides the ability to share progress towards goals with coaches, teammates and other accounability partners and get daily feedback to stay on track.</p>
				</div>
			</div>
		</div>
	    
	<% end %>

<% end %>

<div class="reveal large" id="myModal" data-reveal data-animation-in="hinge-in-from-middle-y" data-animation-out="hinge-out-from-middle-y">

</div>

<div class="reveal medium" id="helpModal" data-reveal data-animation-in="hinge-in-from-middle-y" data-animation-out="hinge-out-from-middle-y">

</div>




