<p>
<%= comment.created_at.strftime ("%m/%d/%y %l:%M%P") %> - <%= comment.body %> (<%= User.find(comment.user_id).fullName %>) <%= link_to "Reply", new_comment_path(:goal_id => comment.goal_id, :parent_id => comment.id), :class => "", remote: true %>
	</p>



<% if comment.has_children? %>
	<% comment.children.order(:created_at).each do |child| %>
		<div class="nested_comments">
	    	<%= render 'comment', comment: child %>
		</div>
	<% end %>
<% end %>
