
<%= simple_form_for(@goal, :html=>{:remote => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id %>
    <%= f.input :name %>
    <%= f.input :goalType, label: "Goal Type", collection: @goalTypes, label_method: :name, prompt: "What type of goal is this?" %>
    <%= f.input :sport, label: "Sport", collection: @sports, label_method: :name, prompt: "Is there a sport you would like to associate to this goal?" %>
    

    <div class="show" id="goalStartDate">
      <%= f.input :goalStartDate %>
    </div>

    <div class="show">
      <%= f.input :goalEndDate %>
    </div>
    
    <div class="hide">
      <%= f.input :training %>
    </div>
    
    <div class="hide">
      <%= f.input :recurring %>
    </div>

    

    <div class="show">
      <%= f.input :goalInterval, label: "Interval", collection: ["Daily", "Weekly", "Monthly", "Annually"], prompt: "How often do you wish to accomplish this goal?" %>
    </div>

    <div class="show">
      <%= f.input :goalNumber, label: "Number to Training Events", prompt: "How many times during the interval you selected do you wish to conduct your training?" %>
    </div>

    <div class="show">
      <%= f.input :trainingTimeInterval, label: "Length of Training Events", prompt: "What is the minimum training time each day for this goal?" %>
    </div>

    <div class="show">
      <%= f.input :trainingType, label: "Training Type", collection: @trainingTypes, label_method: :name, prompt: "Select the type of training this will require to complete." %>
    </div>

    <div class="">
      <%= f.input :description %>
    </div>

    <%= f.input :percentComplete %>
    <%= f.input :active %>
    <%= f.input :complete %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $( "#goal_goalType" ).change(function() {
    if ($( "#goal_goalType" ).val() == "1" ) {
      $( "#goalStartDate" ).removeClass( "show" ).addClass( "hide" );
    } else if ($( "#goal_goalType" ).val() == "2" ) {
      $( "#goalStartDate" ).removeClass( "hide" ).addClass( "show" );
    } else if ($( "#goal_goalType" ).val() == "2" ) {
      $( "#goalStartDate" ).removeClass( "hide" ).addClass( "show" );

});
</script>