<% commentCount = Comment.where(:goal_id => goal.id).count %>
<% goalTimeInterval = (goal.goalEndDate - goal.goalStartDate).to_f %>
<% daysSinceGoalStartDate = (Date.today - goal.goalStartDate).to_f %>
<% timePercentagePassedForGoal = daysSinceGoalStartDate/goalTimeInterval %>
<% className = "" %>
<% if goal.goalType == "1" || goal.goalType == "2" %>
	<% if goal.complete == true %>
		<% className = "myBlueButton" %>
	<% elsif timePercentagePassedForGoal < 0.75 %>
		<% className = "myGreenButton" %>
	<% elsif timePercentagePassedForGoal < 1.0 %>
		<% className = "myYellowButton" %>
	<% else %>
		<% className = "myRedButton" %>
	<% end %>
<% elsif goal.percentComplete >= 1.0 or goal.complete == true %>
	<% className = "myBlueButton" %>
<% elsif (goal.percentComplete >= timePercentagePassedForGoal) %>
	<% className = "myGreenButton" %>
<% elsif (goal.percentComplete >= timePercentagePassedForGoal-0.1) %>
	<% className = "myYellowButton" %>
<% else %>
	<% className = "myRedButton" %>
<% end %>

<% isCoach = current_user.has_role? :coach %>

<div class="cell large-12">
	<div class="comments">
		<p class="text-left">
			<div class="inlineBlock"><span class="<%= className %>"> </span><b><%= goal.name %></b> 
				<% if goal.team_id.present? %>
					(<%= goal.team.name %>)
				<% end %>

				<% if (goal.goalType == "1" || goal.goalType == "2" ) %>
			        by <%= goal.goalEndDate.strftime ("%m/%d/%y") %> &nbsp
			    <% elsif (goal.goalType == "3") %>
			        - <%= goal.goalStartDate.strftime ("%m/%d/%y") %> - <%= goal.goalEndDate.strftime ("%m/%d/%y") %> &nbsp
			    <% end %>
			</div>

			<% commentColor = "gray" %>
            <% if goal.comments.present? %>
              <% lastComment = goal.comments.order(:created_at).last %>
              <% if lastComment.viewed_comments.where(:user_id => current_user.id).present? %>
                <% lastCommentView = lastComment.viewed_comments.where(:user_id => current_user.id).order(:created_at).last %>
                <% if lastCommentView.created_at < lastComment.created_at %>
                  <% commentColor = "red" %>
                <% end %> 
              <% else %>
                <% commentColor = "red" %>  
              <% end %>
            <% end %> 

			<% if commentCount > 0 %>
      			<div class="comments_container" style="color:<%= commentColor %>;"><%= commentCount %></div>&nbsp&nbsp
    		<% end %>

			<%= link_to goal, :class => "", remote: true, data: {:"reveal-id" => "myModal"} do %> 
				<%= image_tag("view24.png", width: "12", :alt => "view") %>
			<% end %> &nbsp

			<% if goal.team_id.nil? || isCoach %>

				<%= link_to edit_goal_path(goal), :class => "", remote: true, data: {:"reveal-id" => "myModal"} do %> 
					<%= image_tag("edit24.png", width: "16", :alt => "edit") %>
				<% end %> &nbsp

	            <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "", remote: true do %> 
	              <%= image_tag("trashRecycleBin.png", width: "16", :alt => "edit") %>
	            <% end %>
	        <% end %>
		</p>
	</div>
</div>				
