<p id="notice"><%= notice %></p>

<!--

<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Sport</th>
      <th>Goaltype</th>
      <th>Goalstartdate</th>
      <th>Goalenddate</th>
      <th>Training</th>
      <th>Recurring</th>
      <th>Goalinterval</th>
      <th>Goalnumber</th>
      <th>Trainingtype</th>
      <th>Description</th>
      <th>Accountabilitypartners</th>
      <th>Percentcomplete</th>
      <th>Active</th>
      <th>Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name %></td>
        <td><%= User.find(goal.user_id).email %></td>
        <td><%= Sport.find(goal.sport).name %></td>
        <td><%= GoalType.find(goal.goalType).name %></td>
        <td><%= goal.goalStartDate %></td>
        <td><%= goal.goalEndDate %></td>
        <td><%= goal.training %></td>
        <td><%= goal.recurring %></td>
        <td><%= goal.goalInterval %></td>
        <td><%= goal.goalNumber %></td>
        <td><%= TrainingType.find(goal.trainingType).name %></td>
        <td><%= goal.description %></td>
        <td><%= goal.accountabilityPartners %></td>
        <td><%= goal.percentComplete %></td>
        <td><%= goal.active %></td>
        <td><%= goal.complete %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
        <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

<div class="grid-x">
	<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12">
		<h2>Goals</h2>
		<% @goals.each do |goal| %>
			<% goalTimeInterval = (goal.goalEndDate - goal.goalStartDate).to_f %>
			<% daysSinceGoalStartDate = (Date.today - goal.goalStartDate).to_f %>
			<% timePercentagePassedForGoal = daysSinceGoalStartDate/goalTimeInterval %>

			<% if (goal.percentComplete >= timePercentagePassedForGoal) %>
				<% className = "myGreenButton" %>
			<% elsif (goal.percentComplete >= timePercentagePassedForGoal-0.1) %>
				<% className = "myYellowButton" %>
			<% else %>
				<% className = "myRedButton" %>
			<% end %>

			<div class="grid-x grid-padding-x">
				<div class="cell large-12">
					<p class="text-left"><span class="<%= className %>"> </span><b><%= goal.name %></b> - <%= goal.description %> &nbsp

						<%= link_to goal, :class => "", remote: true do %> 
							<%= image_tag("view24.png", width: "12", :alt => "view") %>
						<% end %> &nbsp

						<%= link_to edit_goal_path(goal), :class => "", remote: true do %> 
							<%= image_tag("edit24.png", width: "16", :alt => "edit") %>
						<% end %> &nbsp

            <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "", remote: true do %> 
              <%= image_tag("trashRecycleBin.png", width: "16", :alt => "edit") %>
            <% end %>
					</p>
				</div>				
			</div>
		<% end %>

		<%= link_to 'New Goal', new_goal_path, :class => "", remote: true  %>
	</div>
</div>

<br>


