<div class="grid-x grid-padding-x">
	<div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12">
    <p id="notice"><%= notice %></p>
		<h2>Goals</h2>

		<% if @goals.where(:goalType => "1").present? %>

			<u><b>Outcome Goals</b></u>

			<% outcomeGoals = @goals.where(:goalType => "1") %>
			<% outcomeGoals.each do |goal| %>
				<%= render 'goalsView', goal: goal %>
			<% end %>

		<% end %>

		<% if @goals.where(:goalType => "2").present? %>

			<u><b>Performance Goals</b></u>

			<% performanceGoals = @goals.where(:goalType => "2") %>
			<% performanceGoals.each do |goal| %>
				<%= render 'goalsView', goal: goal %>
			<% end %>

		<% end %>

		<% if @goals.where(:goalType => "3").present? %>

			<u><b>Process Goals</b></u>

			<% processGoals = @goals.where(:goalType => "3") %>
			<% processGoals.each do |goal| %>
				<%= render 'goalsView', goal: goal %>
			<% end %>
		<% end %>

		<%= link_to 'New Goal', new_goal_path, :class => "", remote: true  %>
	</div>
</div>

<br>



