<p id="notice"><%= notice %></p>



<!--

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @goal.sport %>
</p>

<p>
  <strong>Goaltype:</strong>
  <%= @goal.goalType %>
</p>

<p>
  <strong>Goalstartdate:</strong>
  <%= @goal.goalStartDate %>
</p>

<p>
  <strong>Goalenddate:</strong>
  <%= @goal.goalEndDate %>
</p>

<p>
  <strong>Training:</strong>
  <%= @goal.training %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @goal.recurring %>
</p>

<p>
  <strong>Goalinterval:</strong>
  <%= @goal.goalInterval %>
</p>

<p>
  <strong>Goalnumber:</strong>
  <%= @goal.goalNumber %>
</p>

<p>
  <strong>Trainingtype:</strong>
  <%= @goal.trainingType %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Accountabilitypartners:</strong>
  <%= @goal.accountabilityPartners %>
</p>

<p>
  <strong>Percentcomplete:</strong>
  <%= @goal.percentComplete %>
</p>

<p>
  <strong>Active:</strong>
  <%= @goal.active %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @goal.complete %>
</p>

-->


<div class="grid-x grid-padding-x">
  <div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12">

    <% sportIcon = "" %>
    <% sportIcon = Sport.find(@goal.sport).icon if Sport.find(@goal.sport).icon.present? %>

    <h2><%= @goal.name %> <%= image_tag(sportIcon, width: "36") %></h2> 

      <p>
        <b><%= @goal.goalStartDate.strftime ("%m/%d/%y") %> - <%= @goal.goalEndDate.strftime ("%m/%d/%y") %></b>
      </p>

      <% if @goal.goalInterval == "Daily" %>
        <% timePeriod = "day" %>
      <% elsif @goal.goalInterval == "Weekly" %>
        <% timePeriod = "week" %> 
      <% elsif @goal.goalInterval == "Monthly" %>
        <% timePeriod = "month" %>
      <% elsif @goal.goalInterval == "Annually" %>
        <% timePeriod = "year" %>
      <% end %>

      <p><%= @goal.name %> - <%= @goal.trainingTimeInterval %> minutes, <%= @goal.goalNumber %> times each <%= timePeriod %>.</p>

      <% if @goal.description.present? %>
        <p>
          <strong>Description:</strong>
          <%= @goal.description %>
        </p>
      <% end %>

      <h4>Training in support of this goal</h4>

      <% @goal.journal_entries.order(:dateTimeOfTraining).reverse.each do |journal_entry| %>
        <%= link_to journal_entry do %>

          <% journalClass = "" %>
          <% if journal_entry.duration < @goal.trainingTimeInterval %>
            <% journalClass = "myBlackButton" %>
          <% elsif journal_entry.motivationLevel >= 7 && journal_entry.performanceLevel >= 7 %>
            <% journalClass = "myGreenButton" %>
          <% elsif journal_entry.motivationLevel >= 4 && journal_entry.performanceLevel >= 4 %>
            <% journalClass = "myYellowButton" %>
          <% else %>
            <% journalClass = "myRedButton" %>
          <% end %>

          <p>&nbsp &nbsp<span class="<%= journalClass %>"></span> <%= journal_entry.dateTimeOfTraining.strftime ("%m/%d/%y %l:%M%P") %> - <%= journal_entry.trainingAccomplished %> for <%= journal_entry.duration %> minutes.</p>

        <% end %>
      <% end %>




      <%= link_to "Add training for this goal", new_journal_entry_path(:goal_id => @goal.id), :class => "", remote: true  %>

      </br>

      <h4>Comments</h4>

      <% @goal.comments.order(:created_at).reverse.each do |comment| %>
        <p><%= comment.created_at.strftime ("%m/%d/%y %l:%M%P") %> - <%= comment.body %> (<%= User.find(comment.user_id).fullName %>)</p>
      <% end %>

      <%= link_to "Add comments to this goal", new_comment_path(:goal_id => @goal.id) %>

      </br>

      </br>

      </br>



    <%= link_to 'Return to Goals', goals_path, :class => "", remote: true %>

  </div>
</div>
