<div class="grid-x grid-padding-x">
  <div class="cell large-8 large-offset-2 medium-10 medium-offset-1 small-12">
    <p id="notice"><%= notice %></p>

    <% sportIcon = "" %>
    <% sportIcon = Sport.find(@goal.sport).icon if Sport.find(@goal.sport).icon.present? %>

    <h2><%= @goal.name %> <%= image_tag(sportIcon, width: "36") %></h2> 

      <p>
        <b><%= @goal.goalStartDate.strftime ("%m/%d/%y") %> - <%= @goal.goalEndDate.strftime ("%m/%d/%y") %></b>
      </p>

      <% if @goal.goalInterval == "Daily" %>
        <% timePeriod = "day" %>
      <% elsif @goal.goalInterval == "Weekly" %>
        <% timePeriod = "week" %> 
      <% elsif @goal.goalInterval == "Monthly" %>
        <% timePeriod = "month" %>
      <% elsif @goal.goalInterval == "Annually" %>
        <% timePeriod = "year" %>
      <% end %>

      <p>
        <%= @goal.name %>
        
        <% if @goal.goalType == "3" %>
           - <%= @goal.trainingTimeInterval %> minutes, <%= @goal.goalNumber %> times each <%= timePeriod %>.
        <% end %>
      </p>

      <% if @goal.description.present? %>
        <p>
          <strong>Description:</strong>
          <%= @goal.description %>
        </p>
      <% end %>

      <h4>Training in support of this goal</h4>

      <% @goal.journal_entries.order(:dateTimeOfTraining).reverse.each do |journal_entry| %>
        

          <% journalClass = "" %>
          <% if journal_entry.duration < @goal.trainingTimeInterval %>
            <% journalClass = "myBlackButton" %>
          <% elsif journal_entry.motivationLevel >= 7 && journal_entry.performanceLevel >= 7 %>
            <% journalClass = "myGreenButton" %>
          <% elsif journal_entry.motivationLevel >= 4 && journal_entry.performanceLevel >= 4 %>
            <% journalClass = "myYellowButton" %>
          <% else %>
            <% journalClass = "myRedButton" %>
          <% end %>

          <% commentCount = Comment.where(:journal_entry_id => journal_entry.id).count %>

          <p>

            <div class="inlineBlock">&nbsp &nbsp<span class="<%= journalClass %>"></span><%= journal_entry.dateTimeOfTraining.strftime ("%m/%d/%y %l:%M%P") %> - <%= journal_entry.trainingAccomplished %> for <%= journal_entry.duration %> minutes &nbsp</div>
            <% if commentCount > 0 %>
              <div class="comments_container"><%= commentCount %></div>&nbsp
            <% end %>
            <%= link_to journal_entry, :class => "", remote: true do %> 
              <%= image_tag("view24.png", width: "12", :alt => "view") %>
            <% end %>
            
          </p>

        
      <% end %>

      <% if current_user.id == @goal.user_id %>
        <%= link_to "Add training for this goal", new_journal_entry_path(:goal_id => @goal.id), :class => "", remote: true  %>
      <% end %>

      </br></br>

      <h4>Comments <%= image_tag("comments.png", width: "30") %></h4>

      <% comments = Comment.roots.where(:goal_id => @goal.id) %>

      <div class="comments">
        <% comments.order(:created_at).reverse.each do |comment| %>
          <%= render 'comment', comment: comment %>
        <% end %>
      </div>

      <%= link_to "Add new comment", new_comment_path(:goal_id => @goal.id), :class => "", remote: true %>

      </br>

      </br>

      </br>

    <% linkDisplay = "" %>
    <% displayLinkStatus = false %>

    <% if @goal.goalType == "1" %>
      <% linkDisplay = "Add supporting performance or process goal" %>
      <% displayLinkStatus = true %>
    <% elsif @goal.goalType == "2" %>
      <% linkDisplay = "Add supporting performance or process goal" %>
      <% displayLinkStatus = true %>
    <% end %>

    <% if displayLinkStatus %>
      <%= link_to linkDisplay, new_goal_path(:parent_id => @goal.id), :class => "", remote: true %> 
    <% end %>

    </br>
  </div>
</div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>


