<p id="notice"><%= notice %></p>

<h1>Team User Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_user_relationships.each do |team_user_relationship| %>
      <tr>
        <td><%= team_user_relationship.team_id %></td>
        <td><%= team_user_relationship.user_id %></td>
        <td><%= link_to 'Show', team_user_relationship %></td>
        <td><%= link_to 'Edit', edit_team_user_relationship_path(team_user_relationship) %></td>
        <td><%= link_to 'Destroy', team_user_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team User Relationship', new_team_user_relationship_path %>
